{% extends 'base.html' %}

{% block title %} Time Table Management {% endblock %}

{% block content %}



<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav id="sidebar" class="col-md-4 col-lg-3 d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active font-weight-bold" href="/admin/time_table_manage">
                  <i class="fas fa-user-graduate mr-2"></i> Time Table Management
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link font-weight-bold" href="/admin/faculty_manage">
                  <i class="fas fa-user-graduate mr-2"></i> Faculty Management
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link font-weight-bold" href="/admin/student_manage">
                  <i class="fas fa-user-graduate mr-2"></i> Student Management
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <!-- Main Content -->
        <main role="main" class="col-md-9 col-lg-9 px-md-4">
            <div class="d-flex justify-content-between align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Time Table Management</h1>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Add Subject List</h5>
                        </div>
                        <div class="card-body">
                            <!-- Button to add subject list -->
                            <form action="{{ url_for('admin.add_subject_list') }}" method="post">
                                <button type="submit" class="btn btn-primary">Add New Subjects</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Delete Subject List</h5>
                        </div>
                        <div class="card-body">
                            <!-- Button to delete subject list -->
                            <form action="{{ url_for('admin.delete_subject_list') }}" method="post">
                                <button type="submit" class="btn btn-primary">Delete Existing Subjects</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right fixed-bottom mb-4 mr-4">
                <a href="{{ url_for('admin.admin_dashboard') }}" class="btn btn-secondary">Back to Dashboard</a>
            </div>
        </main>
    </div>
</div>

{% endblock %}
