{% extends 'base.html' %}
    
{% block title %} Choose Your Role {% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card p-5">
            <div class="card-header text-center">
                <h1 class="card-title">Choose Your Role</h1>
            </div>
            <div class="card-body">
                <form action="{{ url_for('choose') }}" method="post">
                    <button name="role" value="faculty" class="btn btn-primary btn-block mb-3">Faculty</button>
                    <button name="role" value="student" class="btn btn-secondary btn-block">Student</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}