{% extends 'base.html' %}

{% block title %} Error {% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-header">
                        <h1 class="card-title">Error</h1>
                    </div>
                    <div class="card-body">
                        <p>An error occurred. Please try again later or contact the admin.</p>
                        <a href="{{ url_for('choose') }}" class="btn btn-primary btn-block">Go back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
