<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div align="center">
        <div class="form">
            <div class="header">
                <h1 class="word">Error</h1>
            </div>
            <h2 class="word">
                <p>An error occurred. Please check your input and try again later.</p>
                <a href="{{ url_for('choose') }}" class="button">Go back</a>
            </h2>
        </div>
    </div>
</body>
</html>
