{% extends 'base.html' %}

{% block title %} Stop Attendance {% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card p-5">
            <div class="card-header text-center">
                <h1 class="card-title">Attendance Taken</h1>
            </div>
            <div class="card-body text-center">
                <p>Number of attendant(s): {{students_count}}</p>
                <p>Student(s) who enrolled in this attendance session of {{selected_subject}}:</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Enrollment</th>
                            <th>Name</th>
                            <th>Percentage</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students_data %}
                            <tr>
                                <td>{{student[0]}}</td>
                                <td>{{student[1]}}</td>
                                <td>{{student[2]}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="text-center mt-4">
                    <a href="/faculty_dashboard" class="btn btn-primary">Home</a>
                    <a href="/logout" class="btn btn-primary">Logout</a>
                    <a href="/download_attendance" class="btn btn-primary">Download</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}