{% extends 'base.html' %}

{% block title %} Student Login {% endblock %}

{% block content %}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-5">
        <div class="card-header text-center">
            <h1 class="card-title">Change Password</h1>
        </div>
        <div class="card-body text-center">
            <form action="{{ url_for('student.change_password') }}" method="post">
                {% if msg %}
                <p id="message" class="alert alert-success">{{ msg }}</p>
                {% endif %}
                <div class="form-group">
                    <input id="password" name="password" type="password" placeholder="new password" class="form-control" required />
                </div>
                <button type="submit" class="btn btn-success btn-block">Reset Password</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var messageElement = document.getElementById('message');
        if (messageElement) {
            setTimeout(function () {
                window.location.href = "/student/student_login";
            }, 3000);
        }
    });
</script>

{% endblock %}